@model Models.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>ForgotPassword</h1>

<div class="row">
  <div class="col-md-4">
       <div class="text-danger" asp-validation-summary="All"></div>
        @if(Model?.EmailSent == true)
        {
            <div class="alert alert-success" role="alert">
                <p>We have sent an  Email on your registered email id </p>
            </div>
        }
        else
        {
          <form asp-action="ForgotPassword" method="post" asp-controller="DairyMan">
            <div class="form-group">
               <label asp-for="Email"></label>
               <input asp-for="Email" class="form-control" />
            </div>
            <button class="btn btn-primary m-1" type="submit">LogIn</button>
          </form>
        }
  </div>
   
</div>

