<h1>Welcome Chetu!</h1>


 <div class="pos">
 <li>
      <a class="btn btn-outline-dark"   asp-controller="DairyMan" asp-action="Login">Login</a>
      <a class="btn btn-outline-dark" asp-action="SignUp"  asp-controller="DairyMan">Signup</a>
  </li>
  </div>

<style>
    .pos{
        position:relative;
       left:1050px;
       top:-50px;

    }
    body{

        background-image: url(/image/a.jpg);
         background-repeat: no-repeat;
         background-attachment: fixed;
          background-size:cover;
    }

</style>